<div id="lightbox">
  <div class="close">
    <img src="assets/images/close.svg" alt="">
  </div>
  <div class="panel">

    <div id="control" class="control"></div>
    <div id="volume" class="volume"></div>
    <div class="song">
      <div class="artist"></div>
      <div class="song-title"></div>
    </div>

  </div>
</div>
