<app-header></app-header>

<router-outlet></router-outlet>
<app-stations [stations]="stations"></app-stations>

<app-footer [info_blocks]="info_blocks" [socials]="socials"></app-footer>

<one-station></one-station>

<!-- Streams -->
<!--
<audio id="s1" preload="none" src="http://onair.palmerablanca.com:8000/stream.mp3"></audio>
<audio id="s2" preload="none" src="http://onair.palmerablanca.com:8100/stream.mp3"></audio>
<audio id="s3" preload="none" src="http://onair.palmerablanca.com:8200/stream.mp3"></audio>
<audio id="s4" preload="none" src="http://onair.palmerablanca.com:8300/stream.mp3"></audio>
<audio id="s5" preload="none" src="http://onair.palmerablanca.com:8400/stream.mp3"></audio>
<audio id="s6" preload="none" src="http://onair.palmerablanca.com:8500/stream.mp3"></audio>
<audio id="s7" preload="none" src="http://onair.palmerablanca.com:8600/stream.mp3"></audio>
-->

<audio id="s1" preload="none" src="http://main.palmerablanca.com/stream.mp3"></audio>
<audio id="s2" preload="none" src="http://lounge.palmerablanca.com/stream.mp3"></audio>
<audio id="s3" preload="none" src="http://idm.palmerablanca.com/stream.mp3"></audio>
<audio id="s4" preload="none" src="http://ambient.palmerablanca.com/stream.mp3"></audio>
<audio id="s5" preload="none" src="http://tango.palmerablanca.com/stream.mp3"></audio>
<audio id="s6" preload="none" src="http://latino.palmerablanca.com/stream.mp3"></audio>
