<section>

  <div class="stations">

    <div
      *ngFor="let station of stations"
      data-id="s{{station.id}}"
      data-title="{{station.slug}}"
      (click)="onOpenStream(station.slug)"
      class="station"
    >
      <div class="button" (click)="onStartStream($event)">
        <img src="assets/images/play.svg"  class="play" alt="">
      </div>
      <div class="title">{{station.title}}</div>
      <img src="assets/images/covers/{{station.slug}}.jpg" alt="" class="cover" />
    </div>

  </div>

</section>
