/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300');*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic");
html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #444;
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

a, a:visited {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #444444;
  transition: all .15s ease-out;
}

a:hover {
  border-bottom: 1px solid #ffffff;
}

header {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  height: auto;
}

.logo {
  position: relative;
  margin: 20px auto;
  width: 385px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  z-index: 999;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  opacity: 1;
  transition: all .25s ease-out;
}

.logo img.dark {
  z-index: 2;
}

.logo img.light {
  z-index: 1;
}

.logo img.invisible {
  opacity: 0;
}

.slogan {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.stations {
  position: relative;
  width: 1050px;
  margin: 0 auto;
}

.station {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  height: 450px;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
}

.cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .85;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: all .35s ease-out;
}

.station .button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all .25s ease-out;
  opacity: 0;
}

.station .button img {
  width: 100px;
  height: 100px;
}

.station .button img.played {
  -webkit-animation: rotate 24s linear infinite;
  animation: rotate 24s linear infinite;
}

.station .title {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  font-size: 24px;
  font-weight: 300;
  padding: 10px;
  transition: all .25s ease-out;
  opacity: 1;
}

.station:hover .button {
  opacity: 1;
}

.station:hover .title {
  opacity: 1;
}

.station:hover .cover, .station.played .cover {
  opacity: 1;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

/* Played station */
.station.played .button {
  opacity: 1;
}

.station.played .title {
  opacity: 1;
}

.station.played:hover .title {
  opacity: 1;
}

footer {
  width: 1050px;
  margin: 0 auto;
  padding: 25px 0;
}

footer .links {
  font-size: 20px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

footer .links a {
  margin-right: 10px;
}

footer .social {
  float: right;
}

.social a {
  display: inline-block;
  border: none;
  margin-left: 10px;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background-size: 32px 32px !important;
  transition: all .35s ease-out;
}

.social .fb {
  background: url("/assets/images/social/facebook.png") 50% 50% no-repeat;
}

.social .fb:hover {
  background: url("/assets/images/social/facebook-hover.png") 50% 50% no-repeat;
}

.social .tw {
  background: url("/assets/images/social/twitter.png") 50% 50% no-repeat;
}

.social .tw:hover {
  background: url("/assets/images/social/twitter-hover.png") 50% 50% no-repeat;
}

.social .vk {
  background: url("/assets/images/social/vkontakte.png") 50% 50% no-repeat;
}

.social .vk:hover {
  background: url("/assets/images/social/vkontakte-hover.png") 50% 50% no-repeat;
}

.social .inst {
  background: url("/assets/images/social/instagram.png") 50% 50% no-repeat;
}

.social .inst:hover {
  background: url("/assets/images/social/instagram-hover.png") 50% 50% no-repeat;
}

.social .sc {
  background: url("/assets/images/social/soundcloud.png") 50% 50% no-repeat;
}

.social .sc:hover {
  background: url("/assets/images/social/soundcloud-hover.png") 50% 50% no-repeat;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  z-index: -1;
  transition: opacity .25s ease-out;
}

/*
main
lounge
idm
ambient
tango
latino
indie
*/
#lightbox.main {
  background: url("/assets/images/lightbox/main.jpg") 50% 50% no-repeat;
  background-size: cover;
}

#lightbox.lounge {
  background: url("/assets/images/lightbox/lounge.jpg") 50% 50% no-repeat;
  background-size: cover;
}

#lightbox.idm {
  background: url("/assets/images/lightbox/idm.jpg") 50% 50% no-repeat;
  background-size: cover;
}

#lightbox.ambient {
  background: url("/assets/images/lightbox/ambient.jpg") 50% 50% no-repeat;
  background-size: cover;
}

#lightbox.tango {
  background: url("/assets/images/lightbox/tango.jpg") 50% 50% no-repeat;
  background-size: cover;
}

#lightbox.latino {
  background: url("/assets/images/lightbox/latino.jpg") 50% 50% no-repeat;
  background-size: cover;
}

#lightbox.indie {
  background: url("/assets/images/lightbox/indie.jpg") 50% 50% no-repeat;
  background-size: cover;
}

#lightbox.opened {
  opacity: 1;
  z-index: 10;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close img {
  width: 50px;
  height: 50px;
}

.panel {
  position: absolute;
  width: 100%;
  height: 120px;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 10px;
}

.control {
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all .25s ease-out;
  margin-right: 25px;
}

.control.play {
  background: url("/assets/images/play.svg") 50% 50% no-repeat;
  background-size: 100px 100px;
}

.control.loading {
  background: url("/assets/images/loading.svg") 50% 50% no-repeat;
  background-size: 100px 100px;
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.control.pause {
  background: url("/assets/images/pause.svg") 50% 50% no-repeat;
  background-size: 100px 100px;
}

.volume {
  display: inline-block;
  height: 80px;
  margin: 10px;
}

.song {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  padding-left: 25px;
  color: #fff;
}

.song .artist {
  font-size: 50px;
  height: 60px;
  line-height: 60px;
}

.song .song-title {
  font-size: 30px;
  height: 40px;
  line-height: 40px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*! nouislider - 9.0.0 - 2016-09-29 21:44:02 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.noUi-vertical {
  width: 2px;
}

.noUi-vertical .noUi-handle {
  width: 20px;
  height: 20px;
  left: -9px;
  top: -10px;
}

/* Styling;
 */
.noUi-target {
  background: #fff;
}

.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  transition: background 450ms;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: default;
}

.noUi-active {
  background: #fff;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 25px;
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.info-lightbox {
  position: fixed;
  top: 172px;
  left: 50%;
  width: 1050px;
  height: 450px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  box-sizing: border-box;
  background: #fff;
  border: 1px solid rgba(68, 68, 68, 0.35);
  box-shadow: 8px 8px 0 0 rgba(68, 68, 68, 0.1);
  opacity: 0;
  z-index: -1;
  transition: all .25s ease-out;
}

.info-lightbox.visible {
  opacity: 1;
  z-index: 5;
}

.info-lightbox .heading {
  position: relative;
  padding: 5px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.35);
  height: 25px;
  font-size: 25px;
  line-height: 25px;
}

.info-lightbox .heading .close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  background: url("/assets/images/info-close.svg") 50% 50% no-repeat;
  background-size: 24px 24px;
  opacity: .35;
  cursor: pointer;
  border-bottom: none;
  transition: opacity .25s ease-out;
}

.info-lightbox .heading .close:hover {
  opacity: 1;
}

.info-lightbox .content {
  font-family: 'Open Sans', sans-serif;
  margin: 25px;
}

/* MediaQueries */
/* Fix for laptops*/
@media screen and (max-height: 700px) and (min-width: 1050px) {
  .station {
    height: 300px !important;
  }
  .station .cover {
    height: auto !important;
    position: relative;
    top: -75px;
  }
}

/* Tablet Portrait and Landscape */
/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  section, footer, .stations {
    width: 700px !important;
    margin: 0 auto;
  }
  .stations {
    text-align: center;
  }
  .stations .station {
    width: 100px !important;
    height: 300px;
    text-align: left;
  }
  .station .title {
    font-size: 20px !important;
  }
  .info-lightbox {
    top: 150px !important;
    width: 700px !important;
    height: 320px !important;
  }
  .station .button img {
    width: 80px !important;
    height: 80px !important;
  }
  .slogan {
    font-size: 24px !important;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  section, footer, .stations {
    width: 840px !important;
    margin: 0 auto;
  }
  .stations {
    text-align: center;
  }
  .stations .station {
    width: 120px !important;
    text-align: left;
  }
  .station .cover {
    width: auto !important;
    position: relative;
    left: -15px;
  }
  .info-lightbox {
    width: 840px !important;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    z-index: 1 !important;
  }
  .logo img {
    top: 0;
    left: 50% !important;
    height: auto !important;
    width: 90% !important;
    -webkit-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
  }
  section, footer, .stations {
    width: 100% !important;
    margin: 0 auto;
  }
  .station {
    display: block !important;
    width: 100% !important;
    height: 150px !important;
    position: relative;
  }
  .station .cover {
    height: auto !important;
    top: inherit !important;
    bottom: 0 !important;
  }
  footer {
    text-align: center;
  }
  footer .links, footer .social {
    display: block !important;
    width: 100%;
    float: none !important;
  }
  footer .social {
    padding-top: 25px;
  }
  #lightbox .close {
    top: 35px !important;
    right: 35px !important;
    z-index: 999;
  }
  #lightbox .panel {
    height: inherit !important;
  }
  #lightbox .song {
    display: block !important;
    padding-left: 0 !important;
    padding-top: 20px;
    text-align: center;
    text-shadow: 0 0 4px black;
  }
  #lightbox .song .artist {
    height: auto !important;
  }
  .info-lightbox {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
}
